body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
		background-color: #000; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
	color: white;
}

.shares{
	color: white;
	padding: 8px;
	margin-top: 16px;
	border: 1px solid white;
	border-radius: 5px;
}

.shares a{
	text-decoration: none;
	color: rgb(21, 190, 196)
}
